.App {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.square {
  width: 200px;
  height: 200px;
  background: blueviolet;
  margin-bottom: 30px;
}

.blocks {
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid darkgreen;
  height: 50px;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgreen;
  border-radius: 3px;
  cursor: pointer;
}

.square.blue {
  background: blue;
}

.square.orange {
  background: orange;
}

.square.entering {
  animation: square 1000ms ease-out forwards;
}

.square.exiting {
  animation: square 500ms ease-out alternate-reverse;
}

.square.exited {
  opacity: 0;
  transform: translateY(-100px);
}

.os-enter {
  opacity: 0;
}

.os-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.os-enter-done {
  transform: translateX(0);
}

.os-exit {
  opacity: 1;
}

.os-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.os-exit-done {
  opacity: 0;
}

@keyframes square {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
